name: flutter_dropzone_web
description: A drag-and-drop Flutter plugin (Web only).
version: 3.0.8
homepage: https://github.com/deakjahn/flutter_dropzone

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  flutter_dropzone_platform_interface:
    git:
      url: https://github.com/elliotsayes/flutter_dropzone
      ref: folder-detect
      path: flutter_dropzone_platform_interface
  js: ^0.6.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.4

flutter:
  plugin:
    platforms:
      web:
        pluginClass: FlutterDropzonePlugin
        fileName: flutter_dropzone_plugin.dart

  assets:
    - packages/flutter_dropzone_web/assets/flutter_dropzone.js
