name: flutter_dropzone_web
description: A drag-and-drop Flutter plugin (Web only).
version: 1.0.2
homepage: https://github.com/deakjahn/flutter_dropzone

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  flutter_dropzone_platform_interface: ^1.0.0
  js: ^0.6.1+1

dev_dependencies:
  flutter_test:
    sdk: flutter

  pedantic: ^1.9.0

flutter:
  plugin:
    platforms:
      web:
        pluginClass: FlutterDropzonePlugin
        fileName: flutter_dropzone_plugin.dart

  assets:
    - packages/flutter_dropzone_web/assets/flutter_dropzone.js
