name: flutter_dropzone
description: A drag-and-drop Flutter plugin (Web only).
version: 1.0.0
author: DJG
homepage: www.creativephotocloud.com

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_dropzone_platform_interface:
    path: ../flutter_dropzone_platform_interface/
  flutter_dropzone_web:
    path: ../flutter_dropzone_web/

dev_dependencies:
  flutter_test:
    sdk: flutter

  pedantic: ^1.9.0
  plugin_platform_interface: ^1.0.0

flutter:
  plugin:
    platforms:
      web:
        default_package: flutter_dropzone_web
